name: Publish
on:
  push:
    branches:
      - development
      - main

jobs:
  publish:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
    - name: Generate GitHub App Token
      id: app-token
      uses: actions/create-github-app-token@v2
      with:
        app-id: ${{ secrets.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}

    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ steps.app-token.outputs.token }}

    - uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest
        registries: |
          https://registry.npmjs.org/|${{ secrets.NPM_TOKEN }}

    - name: Install dependencies
      run: bun install

    - name: Configure Git
      run: |
          git config user.name '${{ steps.app-token.outputs.app-slug }}[bot]'
          git config user.email '${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com'

    - name: Version and publish
      env:
        GH_TOKEN: ${{ steps.app-token.outputs.token }}
      run: |
        if [ "${{ github.base_ref }}" = "development" ]; then
          bunx lerna version --conventional-commits --conventional-prerelease --preid beta --yes
        else
          bunx lerna version --conventional-commits --conventional-graduate --yes
        fi

        bunx lerna publish from-git --yes
